<div class="container-fluid">
<div class="mt-3"></div>
<div class="card mx-3">
    <div class="card-header">
        <ul class="nav justify-content-center">
            <li class="nav-item" *ngIf="!conectado">
                <input type="text" class="form-control" [(ngModel)]="mensaje.username" placeholder="Tu username..." name="username">
            </li>
            <li class="nav-item">
                <button class="btn btn-warning" type="button" (click)="desconectar()" *ngIf="conectado">Desconectar</button>
            </li>
            <li class="nav-item mx-2">
                <button class="btn btn-success" [disabled]="!mensaje.username" type="button" (click)="conectar()" *ngIf="!conectado">Conectar</button>
            </li>
        </ul>
    </div>

    <div class="card-body chat-body" *ngIf="conectado">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light" *ngFor="let mensaje of mensajes">
              <span *ngIf="mensaje.tipo=='NUEVO_USUARIO'"> {{mensaje.fecha | date: 'shortTime'}} {{mensaje.texto}} <span [ngStyle]="{'color': mensaje.color}">@{{mensaje.username}}</span> </span>
              <span *ngIf="mensaje.tipo=='MENSAJE'"> {{mensaje.fecha | date: 'shortTime'}} <span [ngStyle]="{'color': mensaje.color}">@{{mensaje.username}}</span> dice: <br /> {{mensaje.texto}} </span>
            </li>
        </ul>
    </div>

    <div class="card-footer" *ngIf="conectado">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="mensaje.texto" placeholder="Escribe un mensaje..." name="texto">
            </div>
            <div class="form-group d-flex justify-content-end mt-3">
                <button class="btn btn-primary" (click)="enviarMensaje()" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
</div>